<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryManager.My.MySettings.UserListing" connectionString="Data Source=MARCO\SQLEXPRESS;Initial Catalog=JandA;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="InventoryManager.My.MySettings.DatabaseConnection" connectionString="Data Source=MONKEYPC\MARCODATABASE;Initial Catalog=JandA2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
